/* fonts */

@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf);
    src: url(fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

body,
button {
    font-family: 'Raleway', Arial, Helvetica;
}

h1,
h2,
h3 {
    font-weight: 700;
}


/* header */

header {
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-left: 25px;
}

.menu li {
    display: inline;
    padding-right: 50px;
}

li a {
    text-decoration: none;
    color: black;
    transition: all 0.5s ease-out;
}

li a:hover {
    color: #0065FC;
}

li a:focus {
    border-top: 2px solid #0065FC;
    padding-top: 48px;
    color: #0065FC;
}


/* first section */

.searchBar {
    padding-left: 50px;
}

.bar {
    display: flex;
}

.marker {
    max-height: 18px;
}

.searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid #F2F2F2;
    background: #F2F2F2;
    text-align: center;
    color: #fff;
    border-radius: 10px 0 0 10px;
}

.searchTerm {
    width: 100%;
    border: 1px solid #F2F2F2;
    border-left: none;
    padding: 5px;
    height: 28px;
    outline: none;
    max-width: 200px;
}

.searchButtonEnd {
    height: 40px;
    border: 1px solid #0065FC;
    background: #0065FC;
    text-align: center;
    color: #fff;
    border-radius: 0 10px 10px 0;
    padding: 0 10px;
}

.filters {
    display: flex;
    align-items: center;
}

.filterChild {
    align-items: center;
    display: flex;
    margin-right: 20px;
}

.filterButton {
    border-radius: 100%;
    padding: 8px;
    border: 0px;
    background-color: #DEEBFF;
    min-width: 40px;
    z-index: 1;
}

.filterIcon {
    height: 20px;
    z-index: 2;
}

.filterButtonEnd {
    border-radius: 0 50px 50px 0;
    margin-left: -20px;
    padding: 8px 8px 8px 26px;
    border: 2px solid #F2F2F2;
    min-width: 40px;
    background-color: white;
    height: 40px;
    transition: 0.3s ease-out 100ms;
}

.filterButtonEnd:hover {
    border-color: #DEEBFF;
    background-color: #0065FC;
    color: white;
}

.pointer {
    cursor: pointer;
}

.info {
    display: flex;
    align-items: center;
}

.infoIcon {
    height: 20px;
    width: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.infoIconSize {
    height: 15px;
    width: auto;
}


/* second section */

.accomodations {
    display: flex;
    gap: 50px;
    padding-left: 50px;
    padding-right: 0px;
}

.leftSubsection {
    max-width: 65%;
    background-color: #F2F2F2;
    border-radius: 25px;
}

.leftSubsecTitle {
    margin-left: 60px;
}

.thumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px 0;
}

.thumbnail {
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    align-content: space-around;
}

.thumbnailImg {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 25px 25px 0 0;
}

.thumbnailTitle {
    margin: 0;
    padding-left: 20px;
}

.thumbnailDesc {
    padding-left: 20px;
    margin: 10px 0;
}

.thumbnailPrice {
    font-weight: 700;
    margin: 0;
}

.thumbnailRating {
    padding-left: 20px;
    margin-bottom: 10px;
}

.ratingIcon {
    height: 15px;
    width: auto;
}

.showMore {
    margin: 40px 0 40px 60px;
}

.mostPopular {
    width: auto;
    background-color: #F2F2F2;
    border-radius: 25px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 30%;
}

.popularTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10% 0 10%;
}

.trendIcon {
    height: 20px;
    width: auto;
}

.trendThumbnails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px 0;
}

.trendThumbnail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    align-content: space-around;
    max-width: 500px;
}

.trendThumbnailImg {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 25px 0 0 25px;
}

.trendThumbailInfo {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-left: 20px;
}

.trendThumbnailTitle {
    max-width: 200px;
    margin-bottom: 0;
}

.trendThumbnailDesc {
    margin-top: 10px;
}

.trendThumbnailPrice {
    font-weight: 700;
}

.trendThumbnailRating {
    margin-top: 75px;
}


/* third section */

.activities-title {
    width: 100%;
}

.activities {
    margin: 20px auto 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.activity {
    width: 350px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    max-height: 664px;
}

.activity-dual {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 664px;
}

.card-60 {
    height: 60%;
}

.card-35 {
    max-height: 35%;
}

.card-50 {
    max-height: 50%;
}

.card-60>.activity-img {
    height: 85%;
}

.card-35>.activity-img {
    height: 72%;
    object-fit: cover;
}

.card-50>.activity-img {
    height: 80%;
    object-fit: fill;
}

.activity-img {
    width: 350px;
    height: 600px;
    object-fit: none;
    height: 90%;
}

.activity-info {
    padding-left: 20px;
}


/* footer */

footer {
    background-color: #F2F2F2;
    padding: 25px 0 50px 0;
    margin-top: 60px;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto 0 auto;
    width: 90%;
}

.about {
    width: 33%;
}

.about-list {
    list-style: none;
    margin-left: -40px;
}

.about-list-element {
    line-height: 30px;
}

.services {
    width: 33%;
}

.services-list {
    list-style: none;
    margin-left: -40px;
}

.services-list-element {
    line-height: 30px;
}

.help {
    width: 33%;
}

.help-list {
    list-style: none;
    margin-left: -40px;
}

.help-list-element {
    line-height: 30px;
}